<app-nav-bar></app-nav-bar>
<div>
    <app-spinner *ngIf="!incidente"></app-spinner>


    <div *ngIf="incidente" class="card container-fluid" id="content-establecimiento">

        <div class="container">
            <div class="card-header row">
                <div class="h2 col-8">
                    <a [routerLink]="'/establecimiento/' + incidente.establecimientos.idEstablecimiento">
                        {{ incidente.establecimientos.nombre || 'Establecimiento no disponible' }} </a>
                </div>
                <div class="h4 col-10">
                    {{ incidente.establecimientos.calle }}
                    {{ incidente.establecimientos.altura }}
                </div>
                <div class="col-1">
                    <a class="btn btn-secondary" [routerLink]="['/listar-incidentes']">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg>
                        <!-- Atras -->
                    </a>
                </div>
            </div>
            <br>

            <div>
                <table class="table table-striped">
                    <tbody>
                        <tr class="row p-1">
                            <td class="col-9">
                                <a class="btn btn-primary"
                                    [routerLink]="['/actualizar-incidente', incidente.idIncidente]">Actualizar</a>
                            </td>
                            <!-- <td class="col-3">
                                <a class="btn btn-success">Cerrar incidente</a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <div class="row">
                <div class="col-sm col-xs-12">
                    <div class="card-columns">

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="table-responsive ">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Incidente</th>
                                                    <th scope="col">Estado</th>
                                                    <th scope="col">Prioridad</th>
                                                    <th scope="col">Categoria</th>
                                                    <th scope="col">Fecha Inicial</th>
                                                    <th scope="col">Fecha Cierre</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>INC {{ incidente.idIncidente }} </td>
                                                    <td scope="row">{{ incidente.estado_incidente.descripcion || 'No disponible'}}</td>
                                                    <td>{{ incidente.prioridad_incidente.descripcion || 'No disponible'}}</td>
                                                    <td>{{ incidente.categoria_incidente.descripcion || 'No disponible'}}</td>
                                                    <td>{{ (incidente.fechaInicio | date:'dd-MM-yyyy HH:mm:ss') || 'No disponible'}}</td>
                                                    <td>{{ (incidente.fechaCierre ? (incidente.fechaCierre |
                                                        date:'dd-MM-yyyy HH:mm:ss' ) : 'Abierto') || 'No disponible' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <!-- Detalle de incidentes -->
                        <div class="card">
                            <div class="card-body row">
                                <h5>Detalle</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="col">Titulo: </th>
                                                <td>{{ incidente.titulo || 'No disponible'}}</td>

                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <th>Descripción: </th>
                                                <td style="word-wrap: break-word; white-space: pre-wrap;">
                                                    {{ incidente.descripcion || 'No disponible'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="card">
                            <div class="container">
                                <div class="card-body row">

                                    <div class="col-md-6">
                                        <h5>Asignados:</h5>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="column-width">Usuario</th>
                                                        <th class="column-width">Rol</th>
                                                        <th class="column-width">Información</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Contenido de la segunda tabla -->
                                                    <ng-container
                                                        *ngIf="usuarios && usuarios.length > 1; else noUsuarios">
                                                        <tr *ngFor="let usuario of usuarios">
                                                            <td>
                                                                <a [routerLink]="'/usuario/' + usuario.idUsuario">
                                                                    {{ usuario.nombre }} {{ usuario.apellido }}
                                                                </a>
                                                            </td>
                                                            <td>{{ usuario?.rol?.nombre }}</td>
                                                            <td>{{ usuario.esObservador === 0 ? 'Asignado' :
                                                                'Observador' }}</td>
                                                        </tr>
                                                    </ng-container>
                                                    <ng-template #noUsuarios>
                                                        <tr>
                                                            <td colspan="3">No hay usuarios asociados.</td>
                                                        </tr>
                                                    </ng-template>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="table-responsive">
                                            <h5>Sectores y Equipos Afectados:</h5>

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="column-width">Sectores Afectados:</th>
                                                        <th class="column-width">Equipos Afectados:</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <!-- Contenido de la primera tabla -->
                                                    <tr *ngIf="equipos && equipos.length > 0; else noEquipos">
                                                        <td>
                                                            <a [routerLink]="'/sector/' + incidente.sectores.idSector">
                                                                {{ incidente.sectores.nombre }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <div *ngFor="let equipo of equipos">
                                                                <a [routerLink]="'/equipo/' + equipo.idEquipo">
                                                                    {{ equipo.nombre }} ({{ equipo.marca }} {{
                                                                    equipo.modelo }})
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                                <ng-template #noEquipos>
                                                    <tr>
                                                        <td colspan="2">No hay equipos asociados.</td>
                                                    </tr>
                                                </ng-template>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <br>

                        <!-- Sección para Informes -->
                        <div class="report-card">
                            <div class="report-header">
                                <h5>Historial de Comentarios</h5>
                            </div>
                            <div class="report-body">
                                <div *ngIf="comentarios_incidente.length > 0; else noInforme"
                                    class="comments-container">
                                    <div *ngFor="let comentario of comentarios_incidente" class="comment-item">
                                        <div class="comment-header">
                                            <div class="user-info">
                                                <div class="user-details">
                                                    <span class="user-name">{{ comentario.nombreUsuario }} {{
                                                        comentario.apellidoUsuario }}</span>
                                                    <span class="user-role">{{ comentario.rolUsuario }}</span>
                                                </div>
                                            </div>
                                            <div class="comment-meta">
                                                <span class="comment-date">{{ comentario.fechaHora | date:'dd/MM/yyyy HH:mm' }}</span>
                                                <span class="comment-type badge" [ngClass]="{
                                                    'badge-primary': comentario.tipoComentario === 'Informe',
                                                    'badge-secondary': comentario.tipoComentario === 'Comentario Adicional',
                                                    'badge-success': comentario.tipoComentario === 'Solución'
                                                }">
                                                    {{ comentario.tipoComentario }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="comment-content">
                                            <p>{{ comentario.comentarioIncidente }}</p>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #noInforme>
                                    <div class="no-comments">
                                        <i class="bi bi-chat-square-text"></i>
                                        <p>No hay comentarios registrados</p>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
