<app-nav-bar></app-nav-bar>
<div class="card">
    <div class="card-header">
        Editar Usuario
    </div>
    <div class="card-body">

        <!--formularioDeUsuarios para que al momento de editar los campos traigan los datos de la bd-->
        <form class="row"><!-- ngNativeValidate [formGroup]="formularioDeUsuarios" (ngSubmit)="enviarDatos()" -->

            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="text" class="form-control " id="floatingInput" formControlName="nombre"
                    placeholder="Marcos">
                <label for="floatingInput">Nombre: </label>
            </div>

            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="text" class="form-control" id="floatingInput" formControlName="apellido"
                    placeholder="Lopez">
                <label for="floatingInput">Apellido: </label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="number" class="form-control" id="floatingInput" formControlName="dni"
                    placeholder="38265248">
                <label for="form-label">DNI: </label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="number" class="form-control" id="floatingInput" formControlName="telefono"
                    placeholder="1560603333">
                <label for="floatingInput">Telefono: </label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="text" class="form-control" id="floatingInput" formControlName="nombreusuario"
                    placeholder="m.lopez">
                <label for="form-label">Nombre de Usuario: </label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="password" class="form-control" id="floatingInput" formControlName="contraseña"
                    placeholder="mlopez01">
                <label for="floatingInput">Contraseña: </label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="email" class="form-control" formControlName="correo"
                    placeholder="Escribe tu correo">
                <label for="floatingInput">Correo: </label>
            </div>
            <div class="mb-3 col-5">
                <label class="label">Tipo usuario:</label>
                <select class="form-select" id="rol" formControlName="rol">
                    <option> </option> <!--  [value]="rol" *ngFor="let rol of roles"-->
                </select>
            </div>
            <div class="btn-group" role="group" aria-label="Button group name">
                <button type="submit" class="btn btn-success">Modificar usuario</button>
                <button type="button" routerLink="/listar-usuario/" class="btn btn-danger">Cancelar</button>
            </div>
        </form>
    </div>
</div>