<div class="card">
    <img class="card-img-top" [src]="" alt="sin imagen">
    <div class="card-body">
        <h5 class="card-title">Numero de incidente</h5>
        <label for="">descripcion</label>
        <p class="card-text"></p>
        <label for="">Equipos afectado:</label>
        <p class="card-text"> </p>
        <label for="">Usuario Asignado:</label>
        <label for="">Mas:</label>
        <p class="card-text"></p>
        <a class="btn btn-success" routerLink="/ver"> Ver </a> |
        <a class="btn btn-info" routerLink="/editar-establecimiento"> Actualizar </a> |
        <a class="btn btn-danger" role="button">Borrar</a>
    </div>
</div>