<app-nav-bar></app-nav-bar>
<div class="card container-fluid" id="content-establecimiento" *ngIf="incidente">
    <div class="container">
        <div class="card-header">
            <div class="h2">INC {{ incidente.idIncidente}}
                <a class="btn btn-secondary" [routerLink]="['/listar-establecimientos']">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                    Atras
                </a>
            </div>

        </div><br>
        <div class="row">
            <div class="col-sm col-xs-12">
                <div class="card-columns">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <h5>Información</h5>
                                <div class="col-md-6">
                                    <!-- Datos de contacto -->
                                    <div class="detail">
                                        <label class="card-subtitle mb-2 text-muted">Establecimiento:</label>
                                        <span class="card-text">{{ incidente.nombreEstablecimiento }}</span>
                                    </div>
                                    <div class="detail">
                                        <label class="card-subtitle mb-2 text-muted">Estado:</label>
                                        <span class="card-text">{{ incidente.estadoIncidente }}</span>
                                    </div>
                                    <div class="detail">
                                        <label class="card-subtitle mb-2 text-muted">Categoría:</label>
                                        <span class="card-text">{{ incidente.categoria }}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="detail">
                                        <label class="card-subtitle mb-2 text-muted">Fecha de Inicio: </label>
                                        <span class="card-text">{{ incidente.fechaInicio | date:'dd-MM-yyyy' }}</span>
                                    </div>
                                    <div class="detail">
                                        <label class="card-subtitle mb-2 text-muted">Fecha de Cierre: </label>
                                        <span class="card-text">{{ incidente.fechaCierre | date:'dd-MM-yyyy' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Datos de incidentes -->
                    <div class="card">
                        <div class="card-body">
                            <h5>Detalle</h5>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Tarea:</label>
                                <span class="card-text">{{ incidente.tarea }}</span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Usuario:</label>
                                <span class="card-text">{{ incidente.nombreUsuario }}</span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Descripción:</label>
                                <span class="card-text">{{ incidente.descripcionIncidente }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" [routerLink]="['/editar-incidente' ]">Editar </a>
            </div>
        </div>
    </div>
</div>
<app-pie></app-pie>