<app-nav-bar></app-nav-bar>
<div class="card container-fluid" id="content-lista">
    <div class="card-header">
        <label class="h2" for="">Lista de incidentes</label>
    </div>

    <div class="table-responsive ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Establecimiento</th>
                    <th scope="col">Tarea</th>
                    <!-- <th scope="col">Informe Tecnico</th> -->
                    <th scope="col">Estado</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let incidente of listaIncidentes">
                    <th scope="row">{{ incidente.idIncidente }}</th>
                    <td>{{ incidente.nombreEstablecimiento }}</td>
                    <td>{{ incidente.tarea }}</td>
                    <!-- <td>{{ incidente.informeTecnico }}</td> -->
                    <td>{{ incidente.estadoIncidente }}</td>
                    <td>{{ incidente.categoria }}</td>
                    <td>
                        <a class="btn btn-info" [routerLink]="['/incidente', incidente.idIncidente]">Detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a class="btn btn-success" routerLink="/cargar-incidente/"> Agregar Nuevo Incidente </a>
        </div>
    </div>
</div>
<app-pie></app-pie>