<app-nav-bar></app-nav-bar>
<div class="card container-fluid" id="content-lista">
    <div class="card-header row">
        <div class="h2 col-10" for="">Lista de incidentes</div>
        <div class="col-2">
            <a class="btn btn-secondary" [routerLink]="['/']">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>
              Atras
            </a>
          
        </div>
    </div>

    <div class="table-responsive ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Establecimiento</th>
                    <!-- <th scope="col">Sector</th> -->
                    <!-- <th scope="col">Tarea</th> -->
                    <th scope="col">Prioridad</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Fecha Inicial</th>
                    <th scope="col">Fecha Cierre</th>
                    <!-- <th scope="col">Informe Tecnico</th> -->
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let incidente of listaIncidentes">
                    <th scope="row">{{ incidente.idIncidente }}</th>
                    <td>{{ incidente.nombreEstablecimiento }}</td>
                    <!-- <td>{{ incidente.tarea }}</td> -->
                    <!-- <td>{{ incidente.nombreSector }}</td> -->
                    <td>{{ incidente.prioridad }}</td>
                    <td>{{ incidente.categoria}}</td>
                    <td>{{ incidente.fechaInicio}}</td>
                    <td>{{ incidente.fechaCierre  ? incidente.fechaCierre : 'Abierto' }}</td>
                    <td>{{ incidente.estadoIncidente? incidente.estadoIncidente : 'Nuevo'}}</td>
                    <!-- <td>{{ incidente.informeTecnico }}</td> -->
                    <td>
                        <a class="btn btn-info" [routerLink]="['/incidente', incidente.idIncidente]">Detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a class="btn btn-success" routerLink="/cargar-incidente/"> Agregar Nuevo Incidente </a>
        </div>
    </div>
</div>
<app-pie></app-pie>