<app-nav-bar></app-nav-bar>
<div class="row">

    <div class="container">
        <div class="row">
            <div class="col-sm col-xs-12">
                <div class="row">
                    <!-- *ngFor="let establecimiento of this.listaEstablecimiento " -->
                    <div    class="col-4">
                        <!-- <app-establecimiento [nombredeotravariable]="establecimiento" (eliminar)="quitar(establecimiento)"></app-establecimiento> -->
                        <app-establecimiento></app-establecimiento>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-pie></app-pie>