<app-nav-bar></app-nav-bar>

<div class="card container-fluid" id="content-establecimiento">
    <div class="container">
        <div class="card-header">
            <h2 class="h2"><span class="card-text">{{ usuario.nombre }} {{ usuario.apellido }}</span></h2>
        </div>
        <div class="row">
            <div class="col-sm col-xs-12">
                <div class="card-columns">
                    <div class="card">
                        <div class="card-body">
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">País:</label>
                                <span class="card-text">{{ usuario.pais }}</span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Provincia:</label>
                                <span class="card-text">{{ usuario.provincia }}</span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Localidad:</label>
                                <span class="card-text">{{ usuario.localidad}}</span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Dirección:</label>
                                <span class="card-text"> {{usuario.direccion}} </span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Estado:</label>
                                <span class="card-text">{{ usuario.estado }}</span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Rol:</label>
                                <span class="card-text">{{ usuario.rol }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="detail">
                                <h4 class="card-subtitle mb-2 text-muted">Horarios de Trabajo</h4>
                                <label class="card-subtitle mb-2 text-muted">Entrada:</label>
                                <span class="card-text"></span>
                                <label class="card-subtitle mb-2 text-muted"> Salida:</label>
                                <span class="card-text"></span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Telefono:</label>
                                <span class="card-text">{{ usuario.telefono }}</span>
                            </div>
                            <div class="detail">
                                <label class="card-subtitle mb-2 text-muted">Correo:</label>
                                <span class="card-text">{{ usuario.correo }}</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-secondary" [routerLink]="['/listar-usuarios']">Atras</a>
</div>

<app-pie></app-pie>