<div class="card">
    <img class="card-img-top" [src]="" alt="sin imagen">
    <div class="card-body">
        <h5 class="card-title">nombre de establecimiento</h5>
        <label for="">direccion</label>
        <p class="card-text"></p>
        <label for="">Cant. Equipos:</label>
        <p class="card-text"> </p>
        <label for="">Mas:</label>
        <p class="card-text"></p>
        <a class="btn btn-success" routerLink=""> Ver </a> |
        <a class="btn btn-info" routerLink="/editar-establecimiento"> Editar </a> |
        <a class="btn btn-danger" role="button">Borrar</a>
    </div>
</div>