.container-hijo {
    padding: 20px;
  }
  
  .w-100 {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
  }
  
  /* Ajuste para el autocomplete */
  .mat-autocomplete-panel {
    max-height: 300px !important;
  }