<app-nav-bar></app-nav-bar>
<app-spinner *ngIf="!loading"></app-spinner>

<div *ngIf="loading" class="card container-fluid">
    <div class="container">
      <div class="card-header row">
        <div class="h2 col-10">Alta Sector</div>
        <div class="col-2">
          <a class="btn btn-secondary" [routerLink]="['/establecimiento/',establecimientoIdParam]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
          </a>
        </div>
      </div>
      
      <div class="container-hijo">
        <form class="row" [formGroup]="sectorForm" (ngSubmit)="altaSector()">
          <!-- Campo de Establecimiento -->
          <mat-form-field appearance="fill" class="w-100 col-12">
            <input matInput 
                   [matAutocomplete]="autoEstablecimiento"
                   formControlName="establecimiento"
                   placeholder="Buscar establecimiento...">
            <mat-autocomplete #autoEstablecimiento="matAutocomplete">
              <mat-option *ngFor="let establecimiento of establecimientos" [value]="establecimiento">
                {{establecimiento.nombre}} - Cuit: {{establecimiento.cuit}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="sectorForm.get('establecimiento')?.invalid">
              Debes seleccionar un establecimiento
            </mat-error>
          </mat-form-field>
  
          <!-- Campo Nombre del Sector -->
          <mat-form-field appearance="fill" class="col-6">
            <mat-label>Nombre del Sector</mat-label>
            <input matInput formControlName="nombre" required>
            <mat-error *ngIf="sectorForm.get('nombre')?.invalid">
              El nombre es obligatorio
            </mat-error>
          </mat-form-field>
  
          <!-- Campo Ubicación -->
          <mat-form-field appearance="fill" class="col-6">
            <mat-label>Ubicación</mat-label>
            <input matInput formControlName="ubicacion" required>
            <mat-error *ngIf="sectorForm.get('ubicacion')?.invalid">
              La ubicación es obligatoria
            </mat-error>
          </mat-form-field>
  
          <!-- Botones -->
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="sectorForm.invalid">
              <mat-icon>save</mat-icon>
              Guardar
            </button>
            
            <button mat-stroked-button color="warn" type="button" [routerLink]="['/establecimiento/',establecimientoIdParam]">
              <mat-icon>cancel</mat-icon>
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
<app-pie></app-pie>