.thNombres{
    background-color: rgb(180, 199, 216);
}

.center{
    display: flex;
    align-self:center;
}

.form{
   width: 100%; 
}
.container-filtro{
    background-color: rgba(228, 228, 228, 0.637);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 13px;
}

.container-filtro mat-form-field{
    margin: 0px 20px;  
    height: 4.6rem;
   
}

mat-label{
    font-size: 15px;
}

.container-filtro .id,.rol, .estado{
    width: 10rem;
}


.card-header{
    display: flex;
    align-self:center;
    justify-content: center;
    /* background-color: rgb(216, 216, 216); */
    height: 6rem;
}

.container-boton{
    background-color:rgba(228, 228, 228, 0.637);
    display: flex;
    justify-content: center;
    width: 100% ;
}
.container-boton button{
    margin-bottom:13px;
    padding:0px 5rem;
    background-color:#0d6efd;
}

/* Estilos base para tu formulario */
.form-container {
    width: 100%;
    max-width: 600px; /* Por ejemplo, ajusta esto según tus necesidades */
    margin: 0 auto;
    /* Otros estilos... */
  }
  
  /* Aplicar estilos cuando la pantalla sea más pequeña */
  @media (max-width: 768px) {
    .form-container {
      max-width: 100%; /* Otra configuración para pantallas más pequeñas */
    }
  }

.usuarios-encontrados {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px; /* Espacio entre texto e input */
}

.filtro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
}
.filtro-container input {
    width: 250px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.filtro-container input:focus {
    border-color: #0d6efd;
    box-shadow: 0px 0px 5px rgba(13, 110, 253, 0.5);
}