<app-nav-bar></app-nav-bar>


<!--------------------------------------------------->
<div class="container-contact100">
    <div class="wrap-contact100 card">
        <div class="card-header lg-center row edit-container-header">
            <div class="h2 col-10">Carga Incidente
            </div>
            <div class="col-1">
                <a class="btn-back" [routerLink]="['/']">

                    <!-- Atras -->
                    <mat-icon class="icon" aria-hidden="false"
                        aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>

                </a>
            </div>
        </div>
        <div class="container-form">
            <div class="container-stepper">
                <form class="form-step"
                    [formGroup]="incidenteFormStepper" (ngSubmit)="onSubmitStep()">

                    <mat-stepper #stepper   >
                        <!-- PRIMER PASO : DATOS DEL TICKET -->
                        <mat-step  >

                            <ng-template matStepLabel>Datos del Ticket</ng-template>

                            <div class="container-input"
                                formGroupName="datosTicket">

                                <!-- ESTABLECIMIENTO -->
                                <mat-form-field>
                                    <mat-label>Establecimiento</mat-label>
                                    <input matInput
                                        placeholder="Ingrese establecimiento..."
                                        formControlName="establecimiento"
                                        (input)="filterEstablecimientos($event)"
                                        [matAutocomplete]="establecimiento">
                                    <mat-autocomplete autoActiveFirstOption
                                        #establecimiento="matAutocomplete">
                                        <mat-option
                                            *ngFor="let establecimiento of filteredEstablecimientos "
                                            (click)="selectEstablecimientoFormStep(establecimiento)">
                                            {{ establecimiento.nombre }}
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>
                                <!-- SECTOR -->
                                <mat-form-field>
                                    <mat-label>Sector</mat-label>
                                    <input
                                        type="text"
                                        matInput
                                        placeholder="Ingrese Sector..."
                                        formControlName="sector"
                                        (input)="filterSectores($event)"
                                        [matAutocomplete]="sector">
                                    <mat-autocomplete autoActiveFirstOption
                                        #sector="matAutocomplete">
                                        <mat-option
                                            *ngFor="let sector of filteredSectores "
                                            (click)="seleccionSectorStep(sector)">
                                            {{ sector.nombre }}
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>

                                <!--  EQUIPOS  -->
                                <mat-form-field>
                                    <ul>
                                        <button class="chip"
                                            *ngFor="let equipoAgregado of equiposAgregados"
                                            (click)="removerEquipo(equipoAgregado)">
                                            
                                            {{ equipoAgregado.nombre }}-
                                            {{ equipoAgregado.modelo }}
                                           
                                            <!-- <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="close" ></mat-icon> -->
                                        </button>
                                    </ul>

                                    <input
                                        type="text"
                                        matInput
                                        placeholder="Buscar equipos..."
                                        formControlName="buscarEquipos"
                                        (input)="buscarEquiposStep()"
                                        [matAutocomplete]="buscarEquipos">
                                    <mat-autocomplete autoActiveFirstOption
                                        #buscarEquipos="matAutocomplete">
                                        <mat-option
                                            *ngFor="let equipo of resultadosBusquedaEquipo "
                                            (click)="agregarEquipo(equipo)">
                                            {{ equipo.nombre }}-
                                            {{ equipo.modelo }}
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>

                                <!-- USUARIO -->
                                <mat-form-field>
                                    <ul>
                                        <button class="chip"
                                            *ngFor="let usuarioAgregado of usuariosAgregados"
                                            (click)="removerUsuario(usuarioAgregado)">
                                            {{ usuarioAgregado.nombre }}
                                            {{usuarioAgregado.apellido }}

                                            <!-- <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="close" ></mat-icon> -->
                                        </button>
                                    </ul>

                                    <input
                                        type="text"
                                        matInput
                                        placeholder="Buscar usuario..."
                                        formControlName="buscarUsuario"
                                        (input)="buscarUsuarioStep()"
                                        [matAutocomplete]="buscarUsuario">
                                    <mat-autocomplete autoActiveFirstOption
                                        #buscarUsuario="matAutocomplete">
                                        <mat-option
                                            (click)="agregarUsuario(usuario)"
                                            *ngFor="let usuario of resultadosBusquedaUsuario ">
                                            {{ usuario.nombre }} 
                                            {{usuario.apellido }}
                                            
                                            <!-- <button class="buscar-btn-green"
                                            (click)="agregarUsuario(usuario)"></button> -->
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>

                                <!-- CATEGORIA -->

                                <mat-form-field>
                                    <mat-label>Categoria </mat-label>
                                    <mat-select required
                                        formControlName="idCategoriaIncidente">
                                        <mat-option value enable selected>Seleccionar
                                            categoria</mat-option>
                                        <mat-option
                                            *ngFor="let categoria of categorias"
                                            [value]="categoria.idCategoriaIncidente">
                                            {{categoria.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="botones-final">
                                <button  type="button"  mat-flat-button matStepperNext [disabled]="incidenteFormStepper.get('datosTicket')?.invalid" color="primary">Siguiente</button>

                            </div>

                        </mat-step>

                        <!-- SEGUNDO PASO: DESCRIPCION DEL TICKET -->
                        <mat-step  >

                            <div formGroupName="descripcionTicket"
                                class="container-input">

                                <ng-template matStepLabel>Descripcion de Ticket</ng-template>

                                <!-- PRIORIDAD -->
                                <mat-form-field>
                                    <mat-label>Prioridad </mat-label>
                                    <mat-select required
                                        formControlName="idPrioridadIncidente">
                                        <mat-option value enable selected>Seleccionar
                                            prioridad</mat-option>
                                        <mat-option
                                            *ngFor="let prioridad of prioridades"
                                            [value]="prioridad.idPrioridadIncidente">
                                            {{prioridad.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- Estado -->
                                <mat-form-field>
                                    <mat-label>Prioridad </mat-label>
                                    <mat-select required
                                        formControlName="idEstadoIncidente">
                                        <mat-option value enable selected>Seleccionar
                                            estado</mat-option>
                                        <mat-option
                                            *ngFor="let estado of estados"
                                            [value]="estado.idEstadoIncidente">
                                            {{estado.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- Contenido-->

                                <mat-form-field>
                                    <mat-label>Titulo</mat-label>
                                    <input matInput formControlName="titulo"
                                        placeholder="Escribir Titulo del incidente..."
                                        required>
                                </mat-form-field>

                                <!-- DESCRIPCION DE incidente-->
                                <mat-form-field class="textarea">
                                    <mat-label>Descripcion</mat-label>
                                    <textarea class="area"
                                    #input maxlength="700"
                                    matInput 
                                    formControlName="descripcion"
                                    placeholder="Escribir descripcion del incidente..."
                                    required
                                    ></textarea>
                                    <mat-hint align="end">{{input.value.length}}/700</mat-hint>
                                  </mat-form-field>

                                <!-- BOTONES FINALES  -->
                                <!-- <div class="botones-final">
                                    <button  class="btn-form" type="button" 
                                        matStepperPrevious>Volver</button>
                                    <button  class="btn-form" type="button" 
                                        matStepperNext type="submit">Enviar</button>
                                
                                </div> -->
                                <div class="botones-final">

                                    <button  matStepperPrevious class="btn-form" mat-flat-button color="primary"  >Volver</button>
                                    <button  class="btn-form" mat-flat-button color="primary" 
                                    [disabled]="incidenteFormStepper.get('datosTicket')?.invalid || incidenteFormStepper.get('descripcionTicket')?.invalid"
                                     type="submit">Enviar incidente</button>
                                  
                                </div>
                            </div>
                        </mat-step>

                    </mat-stepper>

                </form>

            </div>
        </div>

    </div>
</div>
<app-pie></app-pie>