<div *ngIf="sector">

  <app-nav-bar></app-nav-bar>

  <div class="card container-fluid" id="content-sector">
    <div class="container">
      <div class="card-header row">
        <div class="h2 col-8">
          <a [routerLink]="'/establecimiento/' + sector.establecimiento.idEstablecimiento">
            {{ sector.establecimiento.nombre }}
          </a>
        </div>
        <div class="col-4">
          <a class="btn btn-secondary" [routerLink]="['/listar-establecimientos']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
            Atras
          </a> |
          <button class="btn btn-primary " (click)="editarDatosSector()">Editar Sector</button>
          |
          <button class="btn btn-danger " (click)="editarDatosSector()">Borrar Sector</button>
        </div>
        <div class="h5">
          {{ sector.nombre }} - {{ sector.ubicacion }}
        </div>
      </div>
      <br>
      <app-spinner *ngIf="getEstado() | async"></app-spinner>

      <div class="card">
        <div class="card-body">
          <h5>Puestos en el Sector</h5>
          <div class="table-responsive">
            <table class="table table-striped">
              <!-- Verifica si hay puestos en el sector -->
              <ng-container *ngIf="puestos.length > 0; else noPuestos">

                <!-- Fuera de la tabla de puestos -->
                <div *ngFor="let puesto of puestos">
                  <div [ngClass]="{'accordion': true, 'show': puesto.mostrarEquipos}">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" (click)="toggleEquiposDePuesto(puesto)">
                          Equipos del Puesto: {{ puesto.puestoRed }}
                        </button>
                      </h2>
                      <div class="accordion-collapse" [ngClass]="{'collapse': true, 'show': puesto.mostrarEquipos}">
                        <div class="accordion-body">
                          <!-- Aquí muestra la lista de equipos para este puesto -->
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Tipo</th>
                                <th>Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let equipo of puesto.equipos">
                                <td>{{ equipo.idEquipo }}</td>
                                <td>{{ equipo.nombre }}</td>
                                <td>{{ equipo.estado_equipo.descripcion }}</td>
                                <td>{{ equipo.tipo_equipo.descripcion }}</td>
                                <td>
                                  <button class="btn btn-primary" (click)="verDetallesEquipo(equipo)">Ver más</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-container>
              <!-- Mostrar mensaje cuando no haya puestos -->
              <ng-template #noPuestos>
                <p>No hay puestos en este sector.</p>
              </ng-template>
            </table>
          </div>
        </div>
      </div>

      <br>
      <br>
      <!-- Botones para Agregar Puestos o Equipo -->
      <tr>
        <!-- <td colspan="7">
        <button class="btn btn-primary" (click)="altaPuesto()">Agregar Puesto</button>
      </td> -->

        <td>
          <a class="btn btn-primary" [routerLink]="['/alta-puesto', sector.idSector]">
            Agregar Puesto
          </a>
        </td>

        <!-- <td colspan="7">
        <button class="btn btn-primary" (click)="altaEquipo()">Agregar Equipo</button>
      </td> -->
        <td>
          <a class="btn btn-primary" [routerLink]="['/alta-equipo', sector.establecimiento.idEstablecimiento]">
            Agregar Equipo
          </a>
        </td>

      </tr>
      <!-- Fin Botones para Agregar Puestos o Equipo-->
    </div>
  </div>
  <br>

  <app-pie></app-pie>
</div>