<app-nav-bar></app-nav-bar>

<!-- <div class="container-fluid border"> -->
<div class="container-contact100">
    <div class="wrap-contact100 card">
        <div class="card-header lg-center row">
            <label class="h2 col-10" for="">Cargar Incidente</label>
            <div class="col-2">
                <a class="btn btn-secondary" [routerLink]="['/']">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                    <!-- Atras -->
                </a>
            </div>
        </div>
        <div class="contenedor-hijo scroll">
            <form [formGroup]="incidenteForm" class="row" (ngSubmit)="onSubmit()">
                <div class="centrar mb-3 col-5">
                    <label class="label">Establecimiento:</label>
                    <div class="wrap-input100 validate-input" data-validate="Ingrese un establecimiento">
                        <input type="text" class="form-control" formControlName="establecimiento"
                            (input)="filterEstablecimientos($event)">
                        <ul class="list-group" *ngIf="filteredEstablecimientos.length > 0">
                            <li class="list-group-item" *ngFor="let establecimiento of filteredEstablecimientos"
                                (click)="selectEstablecimiento(establecimiento)">
                                {{ establecimiento.nombre }}
                            </li>
                        </ul>
                        <span class="focus-input100"></span>
                    </div>
                    <label class="label">Sector:</label>
                    <div class="wrap-input100 validate-input" data-validate="Ingrese un sector">
                        <input type="text" class="form-control" formControlName="sector"
                            (input)="filterSectores($event)">
                        <ul class="list-group" *ngIf="filteredSectores.length > 0">
                            <li class="list-group-item" *ngFor="let sector of filteredSectores"
                                (click)="selectSector(sector)">
                                {{ sector.nombre }}
                            </li>
                        </ul>
                        <span class="focus-input100"></span>
                    </div>
                </div>
                <div class="centrar mb-2 col-3">
                    <label class="label">Prioridad:</label>
                    <div class="wrap-input100 validate-input" data-validate="Ingrese un sector">
                        <select class="form-select input100" id="Prioridad" formControlName="idPrioridadIncidente">
                            <option value="">Seleccione</option>
                            <option [value]="prioridad.idPrioridadIncidente" *ngFor="let prioridad of prioridades">
                                {{prioridad.descripcion}} </option>
                        </select>
                        <span class="focus-input100"></span>
                    </div>
                    <label class="label">Categoria:</label>
                    <div class="wrap-input100 validate-input" data-validate="Ingrese un sector">
                        <select class="form-select input100" id="Categoria" formControlName="idCategoriaIncidente">
                            <option value="">Seleccione</option>
                            <option [value]="categoria.idCategoriaIncidente" *ngFor="let categoria of categorias">
                                {{categoria.descripcion}} </option>
                        </select>
                        <span class="focus-input100"></span>
                    </div>
                </div>
                <div class="centrar mb-2 col-3">
                    <label class="label">Estado:</label>
                        <div class="wrap-input100 validate-input" data-validate="Ingrese un sector">
                            <select class="form-select input100" id="Estado" formControlName="idEstadoIncidente">
                                <option value="">Seleccione</option>
                                <option [value]="estado.idEstadoIncidente" *ngFor="let estado of estados">
                                    {{estado.descripcion}} </option>
                            </select>
                            <span class="focus-input100"></span>
                        </div>
                </div>
                <!-- <div class="centrar mb-3 col-4 row">
                        <label for="equiposAfectados">Equipos afectados:</label>
                        <select id="equiposAfectados" multiple formControlName="equipos" #equiposSelect>
                            <option *ngFor="let equipo of equipos" [value]="{idEquipo: equipo.idEquipo}">{{
                                equipo.nombre }}</option>
                        </select>
                    </div> -->
                <div class="card centrar mb-3 col-5 row">
                    <div class="card-header">
                        <label for="equiposAfectados">Buscar Equipos:</label>
                    </div>
                    <div class="card-body">
                        <input type="text" placeholder="Buscar equipos" formControlName="buscarEquipos"
                            (input)="buscarEquiposFunction()">
                        {{buscarEquipos}}

                    </div>
                    <div>
                        <!-- <label for="equiposAfectados">Seleccionar Equipos:</label> -->
                        <ul>
                            <li *ngFor="let equipo of resultadosBusquedaEquipo">
                                {{ equipo.nombre }} {{ equipo.descripcion }}
                                <button class="buscar-btn-green" (click)="agregarEquipo(equipo)"></button>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="card centrar mb-3 col-5 row">
                    <div class="card-header">
                        <label for="equiposAfectados">Equipos afectados:</label>
                    </div>
                    <ul class="card-body">
                        <li *ngFor="let equipoAgregado of equiposAgregados">
                            {{ equipoAgregado.nombre }} {{ equipoAgregado.descripcion }}
                            <button class="buscar-btn-red" (click)="removerEquipo(equipoAgregado)"></button>
                        </li>
                    </ul>
                </div>


                <div class="datosIncidentes">

                    <div class="centrar mb-3 col-5 row card ">
                        <div class="card-header">
                            <label for="usuarios">Buscar usuarios:</label>
                        </div>
                        <div class="card-body"><!--caracteres de busqueda-->
                            <input type="text" placeholder="Buscar usuario" formControlName="buscarUsuario"
                                (input)="searchUserFunction()">
                            {{buscarUsuario}}
                        </div>
                        <div>
                            <ul>
                                <li *ngFor="let usuario of resultadosBusquedaUsuario">
                                    {{ usuario.nombre }} {{ usuario.apellido }}
                                    <button class="buscar-btn-green" (click)="agregarUsuario(usuario)"></button>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="centrar mb-3 col-5 row card">
                        <div class="card-header">
                            <label for="equiposAfectados">Usuarios asignados:</label>
                        </div>
                        <ul class="card-body">
                            <li *ngFor="let usuarioAgregado of usuariosAgregados">
                                {{ usuarioAgregado.nombre }} {{ usuarioAgregado.apellido }}
                                <button class="buscar-btn-red" (click)="removerUsuario(usuarioAgregado)"></button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="centrar mb-5 ">
                    <div class="">
                        <label class="label mb-1 col-3" for="tarea">Tarea</label>
                        <div class="wrap-input100 validate-input" data-validate="Por favor, ingrese una tarea">
                            <input required type="text" class="input100" id="tarea" formControlName="tarea"
                                placeholder="Escribir Titulo de la tarea">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <label class="label mb-1 col-3">Descripcion: </label>
                    <div class="wrap-input100 validate-input" data-validate="Por favor, ingrese una descripcion">
                        <textarea required class="input100" name="message"
                            placeholder="Introducir una breve descripcion" formControlName="descripcion"></textarea>
                        <span class="focus-input100"></span>
                    </div>
                </div>

                <div class="container-contact100-form-btn">
                    
                    <button type="submit" role="group" aria-label="Button group name" class="contact100-form-btn-green"
                        [disabled]="incidenteForm.invalid">Cargar</button>
                    <button type="" role="group" aria-label="Button group name" class="contact100-form-btn-red"
                        [routerLink]="['/listar-incidentes']">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-pie></app-pie>