<app-nav-bar></app-nav-bar>

<div class="card container-fluid" id="content-equipo" *ngIf="equipo">
  <div class="container">
    <div class="card-header row">
      <div class="card-header">
        <div class="h2 col-11">
          <a [routerLink]="'/establecimiento/' + equipo.puestos.sector.establecimiento.idEstablecimiento">
            {{ equipo.puestos.sector.establecimiento.nombre }}
          </a>
        </div>
        <div class="col-1">
          <a class="btn btn-secondary" [routerLink]="['/listar-equipos']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708.708L5.707 7.5H11.5z" />
            </svg>
          </a>
        </div>

        <div class="h5">
          <a [routerLink]="'/sector/' + equipo.puestos.sector.idSector">
            {{ equipo.puestos.sector.nombre }} - {{ equipo.puestos.sector.ubicacion }}
          </a>
        </div>
      </div>
    </div>
    <br>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style>ID</th>
            <th style>Nombre Equipo</th>
            <th style>Descripción</th>
            <th style>Marca</th>
            <th style>Modelo</th>
            <th style>Estado</th>
            <th style>Número de Serie</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ equipo.idEquipo }}</td>
            <td>{{ equipo.nombre }}</td>
            <td>{{ equipo.descripcion }}</td>
            <td>{{ equipo.marca }}</td>
            <td>{{ equipo.modelo }}</td>
            <td>{{ equipo.estado_equipo.descripcion }}</td>
            <td>{{ equipo.numeroSerie }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style>Puesto</th>
              <th style>Descripción Puesto</th>
              <th style>Teléfono</th>
              <th style>Fecha de Alta</th>
              <th style>Fecha de Baja</th>
              <th style>Tipo Equipo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ equipo.puestos.puestoRed }}</td>
              <td>{{ equipo.puestos.descripcion }}</td>
              <td>{{ equipo.puestos.telefono }}</td>
              <td>{{ equipo.fechaAlta }}</td>
              <td>{{ equipo.fechaBaja }}</td>
              <td>{{ equipo.tipo_equipo.descripcion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br>

    <!-- <h5>Historial</h5>
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Incidente</th>
                <th>Tarea</th>
                <th>Informe</th>
                <th>Ultima Modificación</th>
                <th>Usuario</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of historial">
                <td>{{ item.idIncidente }}</td>
                <td>{{ item.tarea }}</td>
                <td>{{ item.informeTecnico }}</td>
                <td>{{ item.ultimaModificacion | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                <td>{{ item.nombreUsuario }} {{ item.apellidoUsuario }}</td>
                <td>
                  <a class="btn btn-info" [routerLink]="['/incidente', item.idIncidente]">Detalles</a>
                </td>
              </tr>
              <tr *ngIf="historial.length === 0">
                <td colspan="5">No se encontraron registros de historial.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</div>

<br>

<app-pie></app-pie>