<app-nav-bar></app-nav-bar>

<div class="card container-fluid">
    <div class="card-header lg-center">
        <label class="h2" for="">Agregar Establecimiento</label>
    </div>
    <div class="container-hijo">
        <form [formGroup]="establecimientoForm" class="row" (ngSubmit)="actualizarEstablecimiento()">
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="text" class="form-control" id="nombreEstablecimiento"
                    formControlName="nombreEstablecimiento" placeholder="Nombre del establecimiento">
                <label for="nombreEstablecimiento">Nombre del establecimiento</label>
            </div>
            
            <div class="form-floating mb-3 col-2">
                <select required class="form-select" id="floatingSelectPais" aria-label="Floating label select example"
                  formControlName="pais" (change)="onPaisSelected()">
                  <option value="">Seleccionar país</option>
                  <option *ngFor="let pais of paises" [value]="pais.IDPais">{{ pais.Descripcion }}</option>
                </select>
                <label for="floatingSelectPais">País</label>
              </div>
        
              <div class="form-floating mb-3 col-2">
                <select required class="form-select" id="floatingSelectProvincia" aria-label="Floating label select example"
                  formControlName="provincia" (change)="onProvinciaSelected()">
                  <option value="">Seleccionar provincia</option>
                  <option *ngFor="let provincia of provincias" [value]="provincia.IDProvincia">{{ provincia.Descripcion }}</option>
                </select>
                <label for="floatingSelectProvincia">Provincia</label>
              </div>
        
              <div class="form-floating mb-3 col-2">
                <select required class="form-select" id="floatingSelectLocalidad" aria-label="Floating label select example"
                formControlName="localidad" >
                  <option value="">Seleccionar localidad</option>
                  <option *ngFor="let localidad of localidades" [value]="localidad.IDLocalidad">{{ localidad.Descripcion }}</option>
                </select>
                <label for="floatingSelectLocalidad">Localidad</label>
              </div>
        
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="text" class="form-control" id="calle" formControlName="calle" placeholder="Calle">
                <label for="calle">Calle</label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="text" class="form-control" id="altura" formControlName="altura"
                    placeholder="Altura">
                <label for="altura">Altura</label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="text" class="form-control" id="telefono" formControlName="telefono"
                    placeholder="Teléfono">
                <label for="telefono">Teléfono</label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="email" class="form-control" id="correo" formControlName="correo"
                    placeholder="Correo electrónico">
                <label for="correo">Correo electrónico</label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="text" class="form-control" id="horario_entrada" formControlName="horario_entrada"
                    placeholder="Hora de entrada">
                <label for="horario_entrada">Hora de entrada</label>
            </div>
            <div class="form-floating mb-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                <input required type="text" class="form-control" id="horario_salida" formControlName="horario_salida"
                    placeholder="Hora de salida">
                <label for="horario_salida">Hora de salida</label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Crear</button>
                <a class="btn btn-danger" [routerLink]="['/bienvenido']">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<app-pie></app-pie>